@font-face { font-family: Lobster; src: url('../fonts/Lobster.ttf'); } 
@font-face {font-family: Roboto-Thin; src: url('../fonts/Roboto-Thin.ttf');}
html {
}

.logo{
  font-family: Lobster;
  color: white;
  text-decoration: none;
}

.logo:visited{
  text-decoration: none;
}

input[type=text]{
  padding:5px; border:2px; 
  background-color:transparent;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline:none;
  text-align:right;
  font-size:32px;
  font-family: Roboto-Thin;
  color:white;
}

*::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}

.enter-todo{
  text-align:center; 
  margin-left:-200px; 
  margin-top:50px 
}

.header-underline{
  margin: 0 auto 0 auto;
  width:25%;
  height:1px;
  background-color:black;
}

.completed-item{
  text-decoration: line-through;
}

.complete-button{
  float:right;
  background: transparent;
  border: none !important;
  outline:none;
  color:white;
  height:50px;
  width:50px;
}

.todo-list{
  text-align:center;
}

.todo-item{
  font-family: Roboto-Thin;
  font-size:28px;
  list-style-type: none;
  text-align:center; 
  padding:10px;
  color:white;
  width:500px;
  margin:0 auto 0 auto;
  background:black;
  opacity: 0.6;
}

.item-text{
  word-wrap: break-word;
}